<section class="contact-s2 container-fluid bg-warning d-flex align-items-center py-5 minh-50vh border-top border-dark">
  <div class="row mx-0 w-100">
      <div class="col-12 col-md-6 mx-auto d-flex align-items-center text-dark">
          <div class="text-center">
              <h2 class="text-uppercase fw-bold mb-3">
                  Direct contact
              </h2>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna 
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              </p>
              <address>
                  Abcdfg Street 12,<br/>
                  00-000 City,<br/>
                  +(00) 987 654 124<br/>
                  email&#64;email.com
              </address>
          </div>
      </div>
  </div>
</section>