<section class="about-s2 container-fluid d-flex minh-50vh bg-warning align-items-center py-5 border-top border-dark">
    <div class="row mx-0 w-100">
        <div class="col-12 col-md-5 mx-auto minh-25vh d-flex align-items-center">
            <div class="w-100 text-center">
                <h5 class="text-dark">
                    Sed ut perspiciatis
                </h5>
                <h2 class="dispaly-6 fw-bold text-white text-shadow">
                    Unde omnis iste
                </h2>
                <p class="text-dark">
                    Natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis 
                    et quasi architecto beatae vitae dicta sunt explicabo. Nemo 
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut 
                    fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est
                </p>
            </div>
        </div>
    </div>
</section>