$prefix: "../../../assets/";
$bg__about-img: 
    $prefix+"img/about/about-s1.jpg",
    "",
    $prefix+"img/about/about-s3.jpg";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    "",
    $prefix+"img/contact/contact-s3.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__index-img: 
    $prefix+"img/index/index-s1.jpg",
    "",
    $prefix+"img/index/index-s3.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__shop-img: $prefix+"img/shop/shop-s1.jpg";
$bg__user-img: $prefix+"img/user/user-s1.jpg";
$bg__init:
    "about",
    "comingsoon",
    "contact",
    "error",
    "index",
    "privacy",
    "shop",
    "user";
$classes_init:
    $bg__about-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__privacy-img,
    $bg__shop-img,
    $bg__user-img;
$color__shadow: #333;
$footer-height: 41px;
$text-shadow: 1px 1px 3px $color__shadow; 